/*Background Colors*/
.bg-rosewater{background-color:#dc8a78;}

.bg-flamingo{background-color:#dd7878;}

.bg-pink{background-color:#ea76cb;}

.bg-mauve{background-color:#8839ef;}

.bg-red{background-color:#d20f39;}

.bg-maroon{background-color:#e64553;}

.bg-peach{background-color:#fe640b;}

.bg-yellow{background-color:#df8e1d;}

.bg-green{background-color:#40a02b;}

.bg-teal{background-color:#179299;}

.bg-sky{background-color:#04a5e5;}

.bg-sapphire{background-color:#209fb5;}

.bg-blue{background-color:#1e66f5;}

.bg-lavender{background-color:#7287fd;}

/*Background Overlays Colors*/
.bg-overlay2{background-color:#7c7f93;}

.bg-overlay1{background-color:#8c8fa1;}

.bg-overlay0{background-color:#9ca0b0;}

/*Background Surface Colors*/
.bg-surface2{background-color:#acb0be;}

.bg-surface1{background-color:#bcc0cc;}

.bg-surface0{background-color:#ccd0da;}

/*Background Base Colors*/
.bg-base{background-color:#eff1f5;}

.bg-mantle{background-color:#e6e9ef;}

.bg-crust{background-color:#dce0e8;}

/*Colors*/
.rosewater{color:#dc8a78;}

.flamingo{color:#dd7878;}

.pink{color:#ea76cb;}

.mauve{color:#8839ef;}

.red{color:#d20f39;}

.maroon{color:#e64553;}

.peach{color:#fe640b;}

.yellow{color:#df8e1d;}

.green{color:#40a02b;}

.teal{color:#179299;}

.sky{color:#04a5e5;}

.sapphire{color:#209fb5;}

.blue{color:#1e66f5;}

.lavender{color:#7287fd;}

/*Overlays Colors*/
.overlay2{color:#7c7f93;}

.overlay1{color:#8c8fa1;}

.overlay0{color:#9ca0b0;}

/*Surface Colors*/
.surface2{color:#acb0be;}

.surface1{color:#bcc0cc;}

.surface0{color:#ccd0da;}

/*Base Colors*/
.base{color:#eff1f5;}

.mantle{color:#e6e9ef;}

.crust{color:#dce0e8;}

/*Text Colors*/
.text{color:#4c4f69;}

.subtext1{color:#5c5f77;}

.subtext0{color:#6c6f85;}
