/*Background Colors*/
.bg-rosewater{background-color:#f5e0dc;}

.bg-flamingo{background-color:#f2cdcd;}

.bg-pink{background-color:#f5c2e7;}

.bg-mauve{background-color:#cba6f7;}

.bg-red{background-color:#f38ba8;}

.bg-maroon{background-color:#eba0ac;}

.bg-peach{background-color:#fab387;}

.bg-yellow{background-color:#f9e2af;}

.bg-green{background-color:#a6e3a1;}

.bg-teal{background-color:#94e2d5;}

.bg-sky{background-color:#89dceb;}

.bg-sapphire{background-color:#74c7ec;}

.bg-blue{background-color:#89b4fa;}

.bg-lavender{background-color:#b4befe;}

/*Background Overlays Colors*/
.bg-overlay2{background-color:#9399b2;}

.bg-overlay1{background-color:#7f849c;}

.bg-overlay0{background-color:#6c7086;}

/*Background Surface Colors*/
.bg-surface2{background-color:#585b70;}

.bg-surface1{background-color:#45475a;}

.bg-surface0{background-color:#313244;}

/*Background Base Colors*/
.bg-base{background-color:#1e1e2e;}

.bg-mantle{background-color:#181825;}

.bg-crust{background-color:#11111b;}

/*Colors*/
.rosewater{color:#f5e0dc;}

.flamingo{color:#f2cdcd;}

.pink{color:#f5c2e7;}

.mauve{color:#cba6f7;}

.red{color:#f38ba8;}

.maroon{color:#eba0ac;}

.peach{color:#fab387;}

.yellow{color:#f9e2af;}

.green{color:#a6e3a1;}

.teal{color:#94e2d5;}

.sky{color:#89dceb;}

.sapphire{color:#74c7ec;}

.blue{color:#89b4fa;}

.lavender{color:#b4befe;}

/*Overlays Colors*/
.overlay2{color:#9399b2;}

.overlay1{color:#7f849c;}

.overlay0{color:#6c7086;}

/*Surface Colors*/
.surface2{color:#585b70;}

.surface1{color:#45475a;}

.surface0{color:#313244;}

/*Base Colors*/
.base{color:#1e1e2e;}

.mantle{color:#181825;}

.crust{color:#11111b;}

/*Text Colors*/
.text{color:#1e1e2e;}

.subtext1{color:#181825;}

.subtext0{color:#11111b;}
