
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  /*background-color: #eee;*/
  /*color: #444;*/
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #b4befe;
  color: #1e1e2e;
  border-radius: 20px;
  padding-left: 20px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

img.responsive-img{
  max-width: 100%;
  height: auto;
  margin-top: 15%;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
